<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>The Merch Perch</title>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">TMP</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                    <a class="nav-link" href="shop/about/">About</a>
                    <a class="nav-link" href="shop/contact/">Contact Us</a>
                </nav>
            </div>
        </header>

        <main class="mb-auto">
            <h1>Welcome to The Merch Perch</h1>
            <p class="lead">Congrat's you've just landed on the World's most visited Shopping Website!</p>
            <p class="lead">
                <a href="shop/" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Shop Now!</a>
            </p>
        </main>
    </div>

</body>

</html>