{% extends 'shop/basic.html' %}

{% block title %} {{product.product_name}} - The Merch Perch {% endblock %}

{% block body %}

<div class="container my-4">
    {% load humanize %}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="/media//{{product.image}}" width="300px" height="300px">
            </div>
        </div>

        <div class="col-md-8" style="color: black;">
            <h2>{{product.product_name}}</h2>
            <b>
                <h3>₹{{product.price|intcomma}}</h3>
            </b>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>

{% endblock %}